@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , 
body {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    scroll-behavior: smooth;
    line-height: 1.4;

}
body {
    display: flex;
    gap: 20px;
    
}
a {
    text-decoration: none;
}

header {
    height: 100vh;
    /* width: 20%; */
    min-width: 17%;
    position: sticky;
    top: 0;
    background-color: #ccc;
    border: 1px solid black;
}
/* nav {
    display: flex;
    flex-direction: column;
    /* justify-content: center; s
    align-items: center;
    height: 100Vh;
    border: 1px solid #ccc;
    padding: 20px;
} */
nav h1 {
    padding: 10px;
    font-size: 1.5rem;
    border-bottom: 1px solid black;
   
}
nav ul {
    list-style: none;
}
nav ul li {
    padding: 10px;
    color: black;
    border-bottom: 1px solid black;
}
nav ul li:hover {
    background: #f1e5e5;
    transition: 0.3s ease-in-out;
}
main {
    padding: 50px;
}
main section {
    margin-bottom: 50px;
    scroll-margin: 50px;
}

section article {
    max-width: 1200px;
    font-size: 14px;
}
section h2{
    font-size: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;

}
section article {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
section article p {
    font-size: 14px;
    line-height: 1.6;
}
section ul {
    margin-left: 20px;
}
section ul li{
    margin-bottom: 10px;
}
code {
    display: block;
    text-align: left;
    line-height: 2;
    padding: 15px;
    margin: 10px;
    background: #f7f7f7;
    font-size: 20px;
    border-radius: 5px;
    white-space: pre-line;
}
@media screen and (max-width: 650px) {
    header{
        display: none;
    }
}